<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" parallel="classes" thread-count="2" >
    <test name="config">
        <classes>
            <class name="ConfigTests">
            </class>
        </classes>
    </test>


    <test name="allTests">
        <groups>
            <define name="all">
                <include name=".*End"></include>

            </define>
            <run>
                <include name="all"></include>
            </run>
        </groups>
        <classes>
            <class name="CheckboxTests"></class>
            <class name="RadioButtonTests"></class>
        </classes>
    </test>

</suite>
